* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Estilos para o cabeçalho (header) */
header {
    width: 100%;
    background-color: rgb(0, 102, 0);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}

/* Estilos para o logotipo (logo-image) */
.logo-image {
    width: 50px;
    height: 50px;
    background-color: black;
    border-radius: 25px;
}

/* Estilos para o contêiner do logotipo (container-logo) */
.container-logo {
    display: flex;
    align-items: center;
}

/* Estilos para o texto do logotipo (logo-text) */
.logo-text {
    margin-left: 20px;
    color: white; /* Adicionei uma cor ao texto do logotipo */
}

/* Estilos para a lista de menu (menu) */
.menu {
    list-style-type: none; /* Removi os marcadores da lista */
    display: flex;
}

/* Estilos para os itens do menu (menu li) */
.menu li {
    margin: 0 10px;
}

/* Estilos para os links do menu (menu li a) */
.menu li a {
    font-size: 24px;
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    padding: 10px 15px;
    border-radius: 15px;
}

/* Estilos para os links do menu ao passar o mouse (menu li a:hover) */
.menu li a:hover {
    background-color: chartreuse;
}

/* Estilos para o contêiner do expresso (container-espresso) */
.container-espresso {
    display: flex;
    justify-content: center;
    margin: 10px 0; /* Ajustei a margem para centralizar */
}

/* Estilos para os elementos do expresso (expresso) */
.expresso {
    width: 500px;
    height: 350px;
    background-color: rgb(0, 102, 0);
    border-radius: 25px;
    margin: 0 10px; /* Adicionei uma margem entre os elementos */
}

/* Estilos para o contêiner do latté (container-latte) */
.container-latte {
    display: flex;
    justify-content: center;
    margin: 10px 0; /* Ajustei a margem para centralizar */
}

/* Estilos para os elementos do latté (latte) */
.latte {
    width: 500px;
    height: 350px;
    background-color: rgb(0, 102, 0);
    border-radius: 25px;
    margin: 0 10px; /* Adicionei uma margem entre os elementos */
}