
body{
    background-color: rgb(218, 212, 205);
    background-size: cover;
    background-position: center;
    font-family: 'Playpen Sans', cursive;
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Estilos para o cabeçalho (header) */
header {
    width: 100%;
    background-color: rgb(0, 102, 0);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}

@media (max-width: 952px) {
    .menu{
        display: block
    }
}

/* Estilos para o logotipo (logo-image) */
.logo-image {
    width: 50px;
    height: 50px;
    background-color: black;
    border-radius: 50px;
}

/* Estilos para o contêiner do logotipo (container-logo) */
.container-logo {
    display: flex;
    align-items: center;
}

/* Estilos para o texto do logotipo (logo-text) */
.logo-text {
    margin-left: 20px;
    color: white; /* Adicionei uma cor ao texto do logotipo */
}

/* Estilos para a lista de menu (menu) */
.menu {
    list-style-type: none; /* Removi os marcadores da lista */
    display: flexbox;
    background: rgb(38, 160, 38);
    text-align: center;
    text-decoration: none;
    position:inherit;
}
/*Estilizando as listas do menu*/
.menu ul{ 
    display: inline-flex;
    list-style: none;
    color: #fff;
}
.menu ul li{
    width: 125px;
    margin: 25px;
    padding: 10px;
}
.menu ul li a{
    text-decoration: none;
    color: #fff;
}
/* Estilos para os links do menu ao passar o mouse (menu li a:hover) */
.active, .menu ul li:hover{
    background: chartreuse;
    border-radius: 3px;
    
}
.menu .fa{ 
    margin-right: 8px;
}
.sub-menu-1{
    display: none;
}
/*Estilos da parte do submenu*/
.menu ul li:hover .sub-menu-1{ 
    display: flex;
    position: absolute;
    background: rgb(0,100,0);
    margin-top: 10px;
    margin-left: -15px;
}

.menu ul li:hover .sub-menu-1 ul{
    display: block;
    margin: 10px;
}
.menu ul li:hover .sub-menu-1 ul li{
    width: 150px;
    padding: 10px;
    border-bottom: 1px dotted #fff;
    background: transparent;
    border-radius: 0;
    text-align: left;
}
.menu ul li:hover .sub-menu-1 ul li:last-child{
    border-bottom: none;
}
.menu ul li:hover .sub-menu-1 ul li a:hover{
    color: #b2ff00;
}
/* Estilos para o contêiner do expresso (container-espresso) */
.container-espresso {
    display: flex;
    justify-content: center;
    margin: 10px 0; /* Ajustei a margem para centralizar */
}

/* Estilos para os elementos do expresso (expresso) */
.expresso {
    width: 500px;
    height: 350px;
    background-color: rgb(0, 102, 0);
    border-radius: 25px;
    margin: 0 10px; /* Adicionei uma margem entre os elementos */
}

/* Estilos para o contêiner do latté (container-latte) */
.container-latte {
    display: flex;
    justify-content: center;
    margin: 10px 0; /* Ajustei a margem para centralizar */
}

/* Estilos para os elementos do latté (latte) */
.latte {
    width: 500px;
    height: 350px;
    background-color: rgb(0, 102, 0);
    border-radius: 25px;
    margin: 0 10px; /* Adicionei uma margem entre os elementos */
}
