
body{
    background-color:#ac9a80bb;
    background-size: cover;
    background-position: center;
    font-family: 'Playpen Sans', cursive;
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Estilos para o cabeçalho (header) */
header {
    width: 100%;
    background-color: rgb(15, 83, 15);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 0;
}
/* Estilos para o logotipo (logo-image) */
.logo-image {
    max-width:200px;
    max-height:150px;
    margin-left: 15px;
    width: auto;
    height: auto;
}

/* Estilos para o contêiner do logotipo (container-logo) */
.container-logo {
    background-color:#412d19;
    display: flex;
    padding: 10px 0;
    margin-block:0;
    width:100%;
}

/* Estilos para o texto do logotipo (logo-text) */
.logo-text {
    margin-left: 20px;
    color: white; /* Adicionei uma cor ao texto do logotipo */
}

/* Estilos para a lista de menu (menu) */
.menu {
    list-style-type: none; /* Removi os marcadores da lista */
    display: flexbox;
    background: #213d1e;
    text-align: center;
    text-decoration: none;
    position:inherit;
}
/*Estilizando as listas do menu*/
.menu ul{ 
    display: inline-flex;
    list-style: none;
    color: #fff;
}
.menu ul li{
    width: 125px;
    margin: 25px;
    padding: 10px;
}
.menu ul li a{
    text-decoration: none;
    color: #fff;
}
/* Estilos para os links do menu ao passar o mouse (menu li a:hover) */
.active, .menu ul li:hover{
    background: #ffffff36;
    border-radius: 3px;
    
}
.menu .fa{ 
    margin-right: 8px;
}
.sub-menu-1{
    display: none;
}
/*Estilos da parte do submenu*/
.menu ul li:hover .sub-menu-1{ 
    display: flex;
    position: absolute;
    background: #2c5228;
    margin-top: 10px;
    margin-left: -15px;
}

.menu ul li:hover .sub-menu-1 ul{
    display: block;
    margin: 10px;
}
.menu ul li:hover .sub-menu-1 ul li{
    width: 150px;
    padding: 10px;
    border-bottom: 1px dotted #fff;
    background: transparent;
    border-radius: 0;
    text-align: left;
}
.menu ul li:hover .sub-menu-1 ul li:last-child{
    border-bottom: none;
}
.menu ul li:hover .sub-menu-1 ul li a:hover{
    color: #ffffff36;
}
/*==CARROSSEL==*/
.slider{
    margin: 0 auto;
    width: 800px;
    height: 400px;
    overflow: hidden;
    padding-top: 30px;
}
.slides{
    width:400%;
    height: 400px;
    display: flex;
}
.slides input {
    display: none;
}
.slide{
    width: 25%;
    position: relative;
}
.slide img{
    width: 800px;
}
.manual-navigation{
    position: absolute;
    width: 800px;
    margin-top: -60px;
    display: flex;
    justify-content: center;
}
.manual-btn{
    border: 2px solid #fff;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}
.manual-btn:not(:last-child){
    margin-right: 40px;
}
.manual-btn:hover{
    background-color: #fff;
}
#radio1:checked ~ .first{
    margin-left: 0;
}
#radio2:checked ~ .first{
    margin-left: -25%;
}
#radio3:checked ~ .first{
    margin-left: -50%;
}
#radio4:checked ~ .first{
    margin-left: -75%;
}
.navigation-auto div{
    border: 2px solid #2c5228;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transform: 1s;
}
.navigation-auto{
    position: absolute;
    width: 800px;
    margin-top: 340px;
    display: flex;
    justify-content: center;
}
.navigation-auto div:not(:last-child){
    margin-right: 40px;
}
#radio1:checked ~ .navigation-auto .auto-btn1{
    background-color: #fff;
}
#radio2:checked ~ .navigation-auto .auto-btn2{
    background-color: #fff;
}
#radio3:checked ~ .navigation-auto .auto-btn3{
    background-color: #fff;
}
#radio4:checked ~ .navigation-auto .auto-btn4{
    background-color: #fff;
}


/*==BUSCA==*/
#Busca{
    width: 430px;
    height:64px;
    display: inline-flex;
    margin: 20px 0px;
    margin-left: 20px;
}

#txtBusca{
    padding: 0%;
    border: solid 3px;
    border-color: black;
    background-color:#412d19;
    padding-left:5px;
    font-style:italic;
    font-size:18px;
    color: #f5f5dcab;
    border-radius: 30px;
    height:64px;
    width:320px;
}

#btnBusca{
    padding: 0%;
    cursor:pointer;
    height: 30px;
    width: 30px;
    margin-top: 18px;
    margin-left: 10px;
}
/*Arrumando a posição dos titulos*/
.title-style{
    margin-left: 20px;
}

/*==EXPRESSO==*/
.conteiner-expresso{
    display: flex;
    gap: 100px;
    justify-content: space-around;
    justify-content: center;
    margin: 10px 20px;
    margin-bottom: 20px;
}
.expresso{
    width: 500px;
    height: 350px;
    background-color: #213d1e;
    border-radius: 25px;
}
/*==LATTÉ==*/
.conteiner-latté{
    display: flex;
    gap: 100px;
    justify-content: space-around;
    justify-content: center;
    margin: 10px 20px;
    margin-bottom: 20px;
}
.latté{
    width: 500px;
    height: 350px;
    background-color: #213d1e;
    border-radius: 25px;
}

/*==MOCHA==*/
.conteiner-mocha{
    display: flex;
    gap: 100px;
    justify-content: space-around;
    justify-content: center;
    margin: 10px 20px;
    margin-bottom: 20px;
}
.mocha{
    width: 500px;
    height: 350px;
    background-color: #213d1e;
    border-radius: 25px;
}
/*==ESPECIAIS==*/
.conteiner-especiais{
    display: flex;
    gap: 100px;
    justify-content: space-around;
    justify-content: center;
    margin: 10px 20px;
    margin-bottom: 20px;
}
.especiais{
    width: 500px;
    height: 350px;
    background-color: #213d1e;
    border-radius: 25px;
}